<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
  <apikeys>
    <add key="https://www.nuget.org" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAcCs94mT3MUmWU4KNYTtIjgAAAAACAAAAAAAQZgAAAAEAACAAAAB0SOnh2yk1M3DZz0jq4qGNPvqXgZGEtTYyOc+ci6/grQAAAAAOgAAAAAIAACAAAABQLTEUP/uGonodBmhFHnE9t9BiZeVOnyyb97ypvQenCzAAAAC8ocz1rUweEzXtOtt0MIk69xQ7RJOcAnnzEd845oVCLlRnHAO5YwwI3UoDPaNUWVRAAAAAyWOYHb1PGg6qLYGGm4QvA8X/8dl8a50kCZuPiWPh12VnfP2dEaA+oJY2ICTOoXC8ihqnJrmGaZW036ZeG4hIvg==" />
    <add key="http://nuget.gw.symbolsource.org/Public/NuGet" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAcCs94mT3MUmWU4KNYTtIjgAAAAACAAAAAAAQZgAAAAEAACAAAABS7Z10HCW3siS0gE6eCGsIRW5lbq2yf7JOlb2VRfRHTQAAAAAOgAAAAAIAACAAAACB7X5nXuydoWFbTPgRN7CypoGh4jFMY57z6JaROjUZjDAAAAAlm9cnJafXNGXceE5bfXFiyrZiGDgN/j4gdA2fmEx1cmjQshyxSCxGjhNNHJzUQM5AAAAAQIR15wPz9EsAUk9dm79+82MiLmz8t44zNNRLaMZ1nkwPQPlANUPyf/nle6FM16fb2LCX9KaK90xe9ghB3D7hYA==" />
  </apikeys>
</configuration>